@charset "UTF-8";
/* configurando o login principal */
/* config geral */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* variaveis */

:root {
    /*  Cores:
        Paleta ->  #0F326D ; 
        #22477C(Principal); */
    --corBody: #22477C; 
    --corMain: #0F326D; 
    --corLink: #F7891F;
    --corText: white;
    --corInput: rgba(0, 128, 255, 0.507);
    --corSubmit: rgba(0, 128, 255, 1);
    
    /* Fontes: */
    --fontPrinc: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --fontHeader: 'Times New Roman', Times, serif;
}

/* config html, body, main */

html, body {
    position: relative; /* config para centralizar a tela de login.*/
    background-color: var(--corBody);
    color: var(--corText);
    font-family: var(--fontPrinc);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

main { 
    position: absolute; /* centralizar */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: var(--corBody);
    width: 80vw;
    height: 70vh;
    border-radius: 6px;

}

/* config links */

a {
    color: var(--corLink);
    text-decoration: none;
    font-weight: 500;
    
}

a:hover {
    text-decoration: underline;
}

/* configs das Divs*/

/* div imagem -> |PRONTO| */


div.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    position: absolute;
    top: 2%;
}


/* Div cabecalho -> |PRONTO| */

div#header {
    color: var(--corText);
    font: normal 800 13.7px var(--fontHeader);
    text-align: center;
    line-height: 4em; /* Antes tava em 5em */
    padding: 7px 7px 7px 20px;
    
}

div#header p {
    font-weight: 500;
    font-size: 18px;
}

/* Div form */

div#form {
    text-align: center;
}


/* config do ícone */

i#user { 
    position: absolute;
    left: 15px;
    top: 50%;
    color: rgb(120, 120, 120);
    transform: translateY(-85%);
    font-size: .8em;
}

i#key {
    position: absolute;
    left: 15px;
    top: 50%;
    color: rgb(120, 120, 120);
    font-size: .8em;
    transform: translateY(0%);
}

/* config input */

input {
    border-radius: 6px;
    border: none;
    margin-top: 15px;
    font-size: 18px;
    width: 70vw;
    height: 40px;
}

input:hover {

    box-shadow: 0px 0px 7px var(--corInput);
}

input:focus-within {
    outline: solid 2px var(--corInput);
    box-shadow: 0px 0px var(--corInput);
}

/* config label */

div#form label {
    text-align: left;
    font-size: 18px;
}

/* div login */

div.login {
    position: relative;
    display: inline-block;
    text-align: left;
    padding-bottom: 25px;
}


div.login input {    
    padding-left: 40px; /* Espaço para o ícone */
    margin-bottom: 20px; /* tirei de 40 -> para 20 */
}


/* div key */

div.key {
    position: relative;
    display: inline-block;
    text-align: left;
    padding-bottom: 25px;
}

div.key input {
    padding-left: 40px; /* Espaço pra o ícone */
    
}

/* div checkbox */

div.save  {
    position: relative;
    left: 8%;

    width: 70vw;
    text-align: left;
    font-size: 15px;
    padding-bottom: 20px;
}

div.save #check {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    transform: translateY(10%);
}

div.save #check:hover {
    cursor: pointer;
}


div.save a {
    position: relative;
    right: 6%;
    display: block;
    float: right;
    padding-top: 18px;
}


/* div enter */

div.enter {
    padding-bottom: 20px;
}

div.enter input {
    background-color: var(--corSubmit);
    color: white;
}

div.enter input:hover {
    cursor: pointer;
}

div.enter input:focus-within {
    outline: solid 1px var(--corInput);
}

/* div links */
div.links {
    position: relative;
    top: 40%;
    right: -13%;
}

div.links p {
    float: right;
}

.linksFooter {
    display: inline-block;
    padding-right: 20px;
}

/* footer */
footer {
    position: absolute;
    display: none;

    bottom: 8%;
    left: 78.5%;
}